body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  #ac
  {
    background-color: red;
  }
  .calculator {
    text-align: center;
  }
  
  #display {
    background-color: aliceblue;
    border-color: black;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5em;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 1.2em;
  }