*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.hero-section
{
    background-image:url(Banner.jpg) ;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0,0.5 );
    height: 100vh;
    position: relative;
    text-align: center;
}
.hero-text
{
    color:white;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.book-button,
.Know-button
{
    background-color: aqua;
    font-size: 15px;
    border:none;
    border-radius:20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.amenities{
    text-align: center;
}
.amenities ul
{
   display:inline-block;
   text-align: left;
   margin-top: 10px;
    
}
.about-us
{
    float: left;
    width: 50%;
    margin: 10px 10px;
    text-align: center;
}
.about-section > h1{
    text-align: center;
    margin: 10px 0px;
    text-decoration: underline;

}